body{
    margin:0px;
    padding:0px;
    background-color: #f3f3f3;
}

/* ---- Navbar Styling ---- */

nav{
    display: block;
    margin-bottom: 8px;
    background-color: crimson;
    height: 40px;
    position: fixed;
    top:0;
    width: 100%;
    padding: 0px 10px;
    z-index: 2;
    color:#fff;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}

nav:after,
nav:before{
    content: " ";
    display: block;
    clear: both;
}

nav a{
    text-decoration: none;
    color : #1f1f1f;   
}

nav > div.logo{
    display: inline-block;
    float: left;
    height: 40px;
    padding: 0px 5px;
}

nav > div.logo a{
    color: #fff;
    display: block;
    width: auto;
    line-height: 40px;
    font-size: 30px;
    padding: 0px;
}

nav > ul.main-menu{
    list-style: none;
    margin: 0px;
    display: block;
    float: left;
    height: 40px;
    padding: 0px;
    line-height: 40px;
    padding-left: 20px;
}

nav ul.main-menu li{
    display: block;
    font-size: 20px;
    line-height: 40px;
    padding:0px 10px;
    color: #fff;
    float: left;
    height: 40px;
    background-color: crimson;
}

nav ul.main-menu li:hover{
    background-color:#bf163a;
    box-shadow: 1px -4px 2px #fff;
}

nav ul.main-menu li a{
    display:block;
    height: 40px;
    color: #ffffff;
}

nav ul.right-menu{
    display: inline-block;
    float: right;
    margin: 0px;
    height: 40px;
    padding: 0px;
    list-style: none;
    padding-right:20px;
}

nav ul.right-menu li{
    display: inline-block;
    margin: 0px;
    float: left;
    height: 40px;
    font-size:20px;
    line-height: 40px;
    padding: 0px 5px;
    background-color: crimson;
}

ul.right-menu li.home,ul.right-menu  li.subjects,ul.right-menu  li.news,ul.right-menu  li.jobs
{
    display: none;
}

nav ul.right-menu li a{
    display: block;
    height: auto;
    width: 100%;
    margin: 0px;
    color:#fff;
}

nav ul.right-menu li.login a{
 color: #e2e2e2;   
}

nav div#collapse-button{
    display: none;
}

/* ----- Responsive Grid System ----- */

div.row{
    position: relative;
    width:auto;
    margin:0px;
    padding:0px;
}

/*To clear the float of blocks inside the row*/

div.row:after{
    content: " ";
    display: block;
    clear: both;
}

img.responsive-img{
    width : 90%;
}

/*
*12 grid layout
*/

div.col-1{
    float: left;
    padding: 0px;
    display: block;
    width: 8.33333%;
    height:auto;
}

/* Columns of size 2 (6 in a row) */

div.col-2{
    float: left;
    padding: 0px;
    display: block;
    width: 16.66667%;
    height:auto;
}

/* Columns of size 3 (4 in a row) */

div.col-3{
    float: left;
    padding: 0px;
    display: block;
    width: 100%;
    height:auto;
}

/* Columns of size 4 (3 in a row) */

div.col-4{
    float: left;
    padding: 0px;
    display: block;
    width: 33.3333%;
    height:auto;
}

/* Columns of size 5 (1 in a row)
    No need to create a media query 
    for this as it'll always be one
    in a row.
*/

div.col-5{
    float: left;
    padding: 0px;
    display: block;
    width: 41.66667%;
    height:auto;
}

/* Columns of size 6 (2 in a row) */
div.col-6{
    float: left;
    padding: 0px;
    display: block;
    width: 50%;
    height:auto;
}

/* Columns of size 7 (1 in a row) 
    No need to create a media query 
    for this as it'll always be one
    in a row.
*/
div.col-7{
    float: left;
    padding: 0px;
    display: block;
    width: 58.3333%;
    height:auto;
}


/* Columns of size 8 (1 in a row) 
    No need to create a media query 
    for this as it'll always be one
    in a row.
*/
div.col-8{
    float: left;
    padding: 0px;
    display: block;
    width: 66.6667%;
    height:auto;
}

/* Columns of size 9 (1 in a row) 
    No need to create a media query 
    for this as it'll always be one
    in a row.
*/
div.col-9{
    float: left;
    padding: 0px;
    display: block;
    width: 75%;
    height:auto;
}

/* Columns of size 10 (1 in a row) 
    No need to create a media query 
    for this as it'll always be one
    in a row.
*/

div.col-10{
    float: left;
    padding: 0px;
    display: block;
    width: 83.3333%;
    height:auto;
}

/* Columns of size 11 (1 in a row) 
    No need to create a media query 
    for this as it'll always be one
    in a row.
*/

div.col-11{
    float: left;
    padding: 0px;
    display: block;
    width: 91.6667%;
    height:auto;
}

/* Columns of size 12 (1 in a row) 
    No need to create a media query 
    for this as it'll always be one
    in a row.
*/

div.col-12{
    float: left;
    padding: 0px;
    display: block;
    width: 100%;
    height:auto;
}

/* ----- Responsive grids of size 3 (4 in a row)----*/

@media screen and (min-width:320px){
    /*Break the group of 4 columns in two groups of two columns*/
    div.col-3{width:50%;} 
}

@media screen and (min-width:640px){
    /*Break the group of 4 columns in two groups of one column*/
    div.col-3{width:25%;}
}

/* Responsive Big Paragraph */

div.big-para{
    width:100%;
    margin:0%;
    padding:0%;
    background: #f1f1f1;
    font-size : 25px;
    color: #141414;
}

div.big-para h1{
    font-size : 45px;
    padding: 1% 1%;
    margin-bottom:5px;
    color : #272727; /*Dark grey*/
    background: #fff;
    text-align: center;
}

div.big-para p{
    padding: 1%;
    margin: 0;
    color: #141414;
    font-size : 20px;
    word-spacing: 2px;
    border-bottom:1px solid #c1c1c1;
    margin:10px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background: #fff;
    font-family: times;
}

div.big-para p:after{
    content: " ";
    display: block;
    clear:both;
}
div.big-para img{
    padding-left: 0;
    margin-left: 0;
    padding-top: 10px;
    margin-top: 0;
    width: 150px;
    height:auto;
    margin: 0px;
}

div.big-para img.left{
    float:left;
}

div.big-para img.right{
    float:right;
    clear:right;
}

div.big-para img.center{
    float:none;
    clear:both;
}

div.big-para p span.para-title{
    font-weight: bolder;
    font-size : 30px;
    display: inline-block;
    padding-bottom: 20px;
}

/*------ Responsive heading & para in big paragraph -----*/


@media screen and (max-width:640px){

    div.big-para{
        font-size : 20px;
    }

    div.big-para h1{
        font-size : 35px;
        margin-bottom: 20px;
    }

    div.big-para p{
        font-size : 20px;
        margin:10px 3px;
        border-bottom:1px solid #c1c1c1;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }

    div.big-para img{
        width:100px;
        height:auto;
    }

}


@media screen and (max-width:320px){

    div.big-para{
        font-size : 17px;
    }

    div.big-para h1{
        font-size : 25px;
    }

    div.big-para p{
        font-size : 17px;
        word-spacing: 1px;
        margin-top:40px;
        border-bottom:1px solid #c1c1c1;
        border-radius:4px;
        margin:10px 3px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }

    div.big-para img{
        width:70px;
        height:auto;
        padding-bottom: 20px;
    }

    div.big-para img.left{
        float: none;
        width: 60%;
        display: block;
        margin:0 auto;
    }

    div.big-para img.right{
        float: none;
        width: 60%;
        display: block;
        margin:0 auto;
    }
}

/* General Responsive image */

img.responsive{
    width:60%;
    padding:2%;
    margin:1% auto;
    float: none;
    text-align: center;
    clear: left;
}

div.banner-bar{
    margin: 0;
    padding: 0;
    margin-top: 48px;
    
}

div.banners{
    margin:2.5%;
    height: auto;
    padding: 2% 0%;
    line-height: 50px;
    text-align: center;
    color: aliceblue;
    float: left;
    display: block;
    width:95%;
    color: antiquewhite;
    font-size: 2em;
    font-weight: bolder;
    background: crimson;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(255,0,0,.3);
}

div.banners:hover{
    box-shadow: 0 0 6px rgba(220,0,0,1);
}

@media screen and (max-width:650px){
    
    /* Hide right menu */
    nav ul.right-menu{
        display: none;
    }
    
    /*---Add .responsive class on click of toggle button---*/
    nav ul.right-menu.responsive{
        display: block;
        width: 100%;
        opacity: 95%;
    }
    
    nav ul.right-menu.responsive:before,
    nav ul.right-menu.responsive:after{
        clear: both;
        content: " ";
        display: block;
    }

    /*---Add .responsive class on click of toggle button---*/
    nav ul.right-menu li.responsive{
        box-shadow: 0px 1px 1px crimson;
        opacity: 0.95;
        margin: 0;
    }
    
    
    
    nav ul.right-menu li.login.responsive{
        display:block;
        width: 100%;
        padding-left: 5%;
        background-color: #bf163a;
        border-bottom: 2px solid #b0003a;
    }
    
    
    /*---Add .responsive class on click of toggle button---*/
    nav ul.right-menu li.signup.responsive{
        display:block;
        width: 100%;
        padding-left: 5%;
        background-color: #bf163a;
    }
    
    /*The toggle button*/
    nav div#collapse-button{
        display: inline-block;
        height: 35px;
        font-size: 40px;
        color: #fff;
        float: right;
        margin-right:15px;
        line-height: 40px;
        padding-top: 5px;
    }
    
}

@media screen and (max-width:540px){
    
    /*Hide the ul.main-menu#jobs list*/
    nav ul.main-menu li#jobs{
        display: none;
    }
    
    
    /*---
    Add .responsive class on click of toggle button
    Show li.jobs in ul.right-menu hide li#jobs from ul.main-menu
    ---*/
    nav ul.right-menu li.jobs.responsive{
        display:block;
        width: 100%;
        padding-left: 5%;
    }
    
    
    /*---
    Add .responsive class on click of toggle button
    
    It'll hide the #jobs from main menu and show the jobs
    in right menu in the drop-down menu on toggle click
    ---*/
    nav ul.main-menu li#jobs.responsive{display:none;}
}

@media screen and (max-width:460px){
    
    /*Hide ul.main-menu#news*/
    nav ul.main-menu li#news{
        display: none;
    }
    
    /*--- Add .responsive class on click of toggle button ---*/
    nav ul.right-menu li.news.responsive{
        display:block;
        width: 100%;
        padding-left: 5%;
    }
    
    /*--- Add .responsive class on click of toggle button ---*/
    ul.main-menu li#news.responsive{display: none;}
}

@media screen and (max-width:400px){
    
    
    /*Hide ul.main-menu#subjects*/
    nav ul.main-menu li#subjects{
        display: none;
    }
    
    /*Hide ul.main-menu#home*/
    nav ul.main-menu li#home{
        display: none;
    }
    
    /*--- Add .responsive class on click of toggle button ---*/
    nav ul.right-menu li.subjects.responsive{
        display:block;
        width: 100%;
        padding-left: 5%;
    }
    
    /*--- Add .responsive class on click of toggle button ---*/
    nav ul.right-menu li.home.responsive{
        display:block;
        width: 100%;
        padding-left: 5%;
    }
    
    /*--- Add .responsive class on click of toggle button ---*/
    ul.main-menu li#subjects.responsive{display: none;}
    
    /*--- Add .responsive class on click of toggle button ---*/
    ul.main-menu li#home.responsive{display: none;}
}

div.footer{
    padding: 50px 5px 30px 5px;
    text-align: center;
}

div.footer h4{
    padding: 0px;
    margin: 0px;
    color:#1c1c1c;
}

div.footer h4 a{
    text-decoration: none;
    color:#2c2c2c;
}
